ul {
    text-align: left;
  }

.Labels {
    position: absolute;
    text-align: center;
}

#Commands {
    top: 200px;
}


.menuTitle {
    top:300px;
    text-align: left;
    font-size: 25px;
    color: rgb(137, 146, 55);
    background: linear-gradient(rgba(27, 59, 9, .5), rgba(214, 221, 209, 0.2));
    padding: 5px;
}
.commandKey {
    width: 20%;
    font-size: 20px;
    color: rgb(137, 146, 55);
}
.commandDesc {
    left: 10px;
    text-align: left;
    font-size: 18px;
}
.commands {
    width: 100%;
    border: none;
}

.sidePanel {
    background: linear-gradient(rgba(27, 59, 9, .5), rgba(214, 221, 209, 0.2));
}

